html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    font-family: Helvetica Neue;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header>h1>img {
    height: 34px;
    width: 34px;
    margin: 23px;
}

header>h1, header>input {
    margin-right: auto;
}

header>input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none;
    margin-left: .5em;
}

.topSearchBar {
    display: flex;
    /*アイコン、テキストボックスを調整する*/
    align-items: center;
    /*アイコン、テキストボックスを縦方向の中心に*/
    justify-content: center;
    /*アイコン、テキストボックスを横方向の中心に*/
    height: 50px;
    width: 100%;
    background-color: #ddd;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin: 16px;
    border-bottom: 1.5px solid rgba(255, 255, 0, 0);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 80px;
}

nav>ul>li:hover {
    border-bottom: 1.5px solid #000000
}

.topWrapper {
    width: 100%;
    height: 565px;
    background-image: url(https://a0.muscache.com/airbnb/static/diversity/inclusion/Hero1-df91c6cd36186c72029bfa46a8002a5d.jpg);
}

.container {
    max-width: 650px;
    margin: 0 auto;
}

.topMessage {
    text-align: left;
    padding: 212px 549px 241px 220px;
}

.topMessage h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 56px;
    /* or 130% */
    letter-spacing: 0.9px;
    color: #FFFFFF;
}

.topMessage p {
    color: #fff;
}